* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header { 
    display: inline-block;
    position: relative;
    width: 100%;
}
header img {
    max-width: 100%;
}
header h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 100px;
}

.title {
    position: relative;
    margin-bottom: 50px;
}
.title h1 {
    background-color: black;
    color: white;
    text-align: center;
}
.title img {
    position: absolute;
    top: -75px;
    right: 40px;
    background-color: white;
}

aside {
    position: absolute;
}
aside nav a{
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
}

.content {
    margin-left: 200px;
    min-width: 1000px;
}

.content h4 {
    margin-bottom: 20px;
}

article {
    margin-bottom: 20px;
}

footer {
    margin-top: 30px;
    text-align: center;
}
